@(dataset: Dataset, choice: String)
<div class="">
	<div id="vis_@choice"></div>
	<script type="text/javascript">

		// vega lite spec
	   var vlSpec_@(choice) = {
	        $schema: 'https://vega.github.io/schema/vega-lite/v4.json',
	        width: 400,
	        height: 200,
	        data: {
	          "url": "@routes.DatasetsController.download(dataset.getId())",
	          "format": { "type": "csv"}
	        },
			"transform": [
				{
				  "bin": true, "field": "@choice", "as": "ItemValue"
				}, {
				  "aggregate": [{"op": "count", "as": "Count"}],
				  "groupby": ["ItemValue", "bin_num_end"]
				}, {
				  "joinaggregate": [{"op": "sum", "field": "Count", "as": "TotalCount"}]
				}, {
				  "calculate": "datum.Count/datum.TotalCount", "as": "PercentOfTotal"
				}
			],
			"mark": {"type": "bar", "tooltip": true},
			encoding: {
		        "x": {
		          "title": "",
		          "field": "ItemValue",
                  bin: {binned: true}
		        },
	            "x2": {"field": "bin_num_end"},
			    "y": {
			      "title": "Relative Frequency",
			      "field": "PercentOfTotal",
			      "type": "quantitative",
			      "axis": {
			        "format": ".1~%"
			        }
			    }
			}
	      };
	    vegaEmbed('#vis_@choice', vlSpec_@choice);
	</script>
</div>