@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#81c784">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
	    <script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.versioned("javascripts/materialize.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <nav class="grey lighten-1">
            <div class="nav-wrapper">
            <a href="#" class="brand-logo center grey-text text-darken-4">
            	@title
            </a>
            </div>
        </nav>

        <div class="container" style="margin: 0 auto;">
        @content
        </div>

		@elements.footer()

    </body>
    <script src="@routes.Assets.versioned("javascripts/common.min.js")" type="text/javascript"></script>
    <script src="@routes.HomeController.getFlashes()" type="text/javascript"></script>
</html>
