@(invite_token: String)

@participating("Declined participation", invite_token) {

  <br><br>

  <div class="row">
    <div class="col 12">
      <h3>Declined participation</h3>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h5>Thanks,</h5>
      <p>
        We have received your message and recorded that you declined participation, thanks for your consideration.
      </p>
      <p>
        If you changed your mind and still would like to participate, click <a href="@routes.ParticipationController.confirm(invite_token)">here</a> to sign-up again.
      </p>
    </div>
  </div>
}
