@(csrfToken: String)
@external("Developer data initialization") {
<br><br>
<br><br>
<div class="row">
  <div class="col s12 m6 offset-m3 l6 offset-l3">
    <div class="card">
      <div class="card-content" style="padding: 0 2rem;">

        <div class="row">
          <div class="col s12">
            <h2 class="center-align">Developer data initialization</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <p>
              There is no data currently in the development database (check the application.conf if this is unexpected). Click below to generate development data in the database.
            </p>
            <form hx-post="@routes.DBController.generateData()" hx-trigger="submit" hx-indicator=".htmx-indicator">
              <input type="hidden" name="csrfToken" value="@csrfToken">
              <button class="btn" type="submit">Generate data</button>
              <div class="progress htmx-indicator">
                <div class="indeterminate"></div>
              </div>
           </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}