@(p : Project, user: Person, sessions : List[sr.TelegramSession], token : String, configurator: utils.conf.Configurator)

@main(p.getName() + ": Sources", "profile") {
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/datatables.min.css")">
<script src="@routes.Assets.versioned("javascripts/datatables.min.js")" type="text/javascript"></script>

@projects.perspectives.projectHeader(p, user)

<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col" id="mainPage"><a href="@routes.ProjectsController.view(p.getId())" target="_self">🏡 General</a></li>
			<li class="tab col"><a href="@routes.ProjectsController.viewResources(p.getId())" class="active" target="_self">🐝 Sources</a></li>
			<li class="tab col"><a href="@routes.ProjectsController.viewStudyManagement(p.getId())" target="_self">🧑‍🔬 Study Setup</a></li>
			<li class="tab col"><a href="@routes.ProjectsController.viewTimeline(p.getId())" target="_self">📈 Timeline</a></li>
			@if(p.getNarrativeSurveyDataset().isPresent()) {
			<li class="tab col"><a href="@routes.ProjectsController.viewNarrativeSurvey(p.getId())" target="_self">🔖 Narrative Surveys</a></li>
			}
			@if(p.hasProjectWebsite()){
			<li class="tab col"><a href="/@p.getName()" target="_blank" rel="noopener">🧑‍💻 Project site</a></li>
			}
@*
			<li class="tab col"><a href="#ded">🎂 Data-enabled Design</a></li>
			<li class="tab col"><a href="#chatbot">🤖 Chatbot</a></li>
*@
		</ul>
	</div>
</div>

<div class="row">
	@if(!p.isArchivedProject()) {
	<div class="col s12 right-align">
		<a id="manageBtn" href="@routes.ProjectsController.manageResources(p.getId())" class="btn-outline">Manage clusters</a>
	</div>
	}

	<div class="col s12">
		<h4>Devices</h4>
	</div>
	<div class="col s12" id="deviceList" style="margin-bottom: 1rem;"
			hx-get="@routes.ResourcesController.devices(p.getId())"
			hx-trigger="load"></div>
	<div class="col s12 right-align">
		<a id="addDeviceBtn" href="@routes.DevicesController.add(p.getId(), -1L)" class="btn-outline">Add device</a>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Participants</h4>
	</div>
	<div class="col s12" style="margin-bottom: 1rem;"
			hx-get="@routes.ResourcesController.participants(p.getId())"
			hx-trigger="load"></div>
	<div class="col s12 right-align">
		<a id="addParticipantBtn" href="#modal_add_participant" class="btn-outline modal-trigger">Add participant</a>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Wearables</h4>
	</div>
	<div class="col s12" style="margin-bottom: 1rem;" 
			hx-get="@routes.ResourcesController.wearables(p.getId())"
			hx-trigger="load"></div>
	<div class="col s12 right-align">
		@if(configurator.isFitbitAvailable() || configurator.isGoogleFitAvailable()) {
		<!-- Modal Trigger -->
		<a id="addWearableBtn" href="#modal_add_wearable" class="btn-outline modal-trigger">Add wearable</a>
		} else {
		<div class="btn-flat red-text">
			No available service for wearables
		</div>
		}
	</div>
</div>

@if(token != ""){
<!-- Modal for adding new participant -->
<div id="modal_add_participant" class="modal">
	<div class="modal-content">
		<h4 class="center-align">How many participants you want to add?</h4>
		<div class="row">
			<div class="col s12 m12 l12 center-align">
				<div class="collection">
					<a id="addSingleParticipantBtn" href="@routes.ParticipantsController.add(p.getId())" class="collection-item waves-effect waves-light">
						One person
						<br>
						<div class="dataset_type_description">Add a participant with detail information</div>
					</a>
					<a id="addMultipleParticipantsBtn" href="@routes.ParticipantsController.addInBulkSeparately(p.getId())" class="collection-item waves-effect waves-light">
						Many people
						<br>
						<div class="dataset_type_description">Quick add multiple participants by their emails</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

@if(configurator.isFitbitAvailable() || configurator.isGoogleFitAvailable()) {
	@elements.popupDialog()
	@elements.dialog.addWearableDialog(p, -1L, configurator)
}
}

<!-- participant communications -->
@if(sessions.size() > 0) {
<div class="row">
	<div class="col s12">
		<div class="row">
			<div class="col s12">
				<h4>Participant communication</h4>
			</div>
			<div class="col s12">
				<ul class="tabs">
				@for(s <- sessions) {
					<li class="tab"><a href="#session@{sessions.indexOf(s)}">@s.getUserScreenName()</a></li>
				}
				</ul>
			</div>
			@for(s <- sessions) {
			<div id="session@{sessions.indexOf(s)}" class="col s12">
				@for(ms <- s.getMessages()) {
				<p>
				@if(ms.indexOf("image:") > -1) {
				@defining(ms.split("image:", 2)) { mscs =>
					@mscs(0)
					@if(!mscs(1).isEmpty()) {
					<br>
					<img src="@routes.ParticipantsController.getTelegramImage(mscs(1))" style="height: 100px;" loading="lazy">
					}
				}} else {
					@if(ms.indexOf("img:") > -1) {
					@defining(ms.split("img:", 2)) { mscs =>
					@mscs(0)
					@if(!mscs(1).isEmpty()) {
					<br>
					<img src="@mscs(1)" style="height: 100px;" loading="lazy">
					}
					}} else {
					@ms
					}
				}
				</p>
				}
				@if(s.getMessages().isEmpty) {
				<p>
					No communication yet.
				</p>
				}
			</div>
			}
		</div>
		<a id="messageTelegramBtn" href="#modal_message" class="btn modal-trigger">Send a message</a>
	</div>
</div>

<!-- Modal for adding new participant -->
<div id="modal_message" class="modal">
	<div class="modal-content">
  		<form class="" action="@routes.ParticipantsController.sendTelegramMessage(p.getId())" method="POST">
			<h4 class="center-align">Send a message to one or all participants via Telegram</h4>
			<div class="row">
				<div class="input-field col s12">
				  <select id="participant_id" name="participant_id" class="validate" required="required">
				    <option value="" disabled>Choose your option</option>
				    @for(s <- sessions) {
					<option value="@s.getId()">@s.getUserScreenName()</option>
				    }
				    <option value="-1">all participants</option>
				  </select>
				  <label for="source_id">Recipients</label>
				</div>
				<div class="input-field col s12">
					<textarea placeholder="Message to participants" id="message" name="message" type="text" class="materialize-textarea validate" required="required"></textarea>
				<label for="message">Message</label>
				</div>
		        <div class="col s12 center">
		          <div class="input-field center">
		            <a href="" class="btn-flat green-text modal-close">Cancel</a>
		            <button class="btn green" type="submit">Send message</button>
		          </div>
		        </div>
			</div>
		</form>
	</div>
</div>
}

}
