@(p: Project, c : sr.Cluster)(implicit request: Http.Request)

@main("Cluster", "profile") {
	<script src='@routes.Assets.versioned("javascripts/vega.min.js")' type="text/javascript"></script>
	<script src="@routes.DatasetsController.jsRoutes()" type="text/javascript"></script>

	<style>
		.btn_remove_source {
			margin-left: 0.5rem;
		}
	</style>
	
	<!-- navigation -->
	<nav class="">
		<div class="row">
			<div class="col s12">
				<a href="@routes.ProjectsController.index()" class="breadcrumb">Home</a>
				<a href="@routes.ProjectsController.view(p.getId())" class="breadcrumb">@p.getName()</a>
				<a href="@routes.ProjectsController.viewResources(p.getId())" class="breadcrumb">Sources</a>
				<a href="@routes.ClustersController.view(c.getId())" class="breadcrumb">@c.getName()</a>
			</div>
		</div>
	</nav>

	<div class="row">
		<div class="col s12">
			<h3>Cluster @c.getName()</h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12 m7">
			<h4>Cluster data</h4>
			<p>Explore this cluster's data within the context of the entire project.</p>
			<a href="@routes.ProjectsController.visualize(p.getId(), c.getId())" class="btn" style="margin-bottom: 1rem;">
				Visualize cluster data
			</a>
			
			<div style="margin-top: 1rem;">
				<details>
					<summary>Data downloads for cluster</summary>
					<p>Download filtered versions of the following datasets:</p>
					@for(ds <- p.getIoTDatasets()) {
					<p>
						<b>@ds.getName()</b>: 
						<a href="@routes.DatasetsController.downloadCluster(ds.getId(), c.getId())">CSV</a> | 
						<a href="@routes.DatasetsController.downloadJsonCluster(ds.getId(), c.getId())">JSON</a>
					</p>
					}

					@for(ds <- p.getDiaryDatasets()) {
					<p>
						<b>@ds.getName()</b>: 
						<a href="@routes.DatasetsController.downloadCluster(ds.getId(), c.getId())">CSV</a> | 
						<a href="@routes.DatasetsController.downloadJsonCluster(ds.getId(), c.getId())">JSON</a>
					</p>
					}

					@for(ds <- p.getAnnotationDatasets()) {
					<p>
						<b>@ds.getName()</b>: 
						<a href="@routes.DatasetsController.downloadCluster(ds.getId(), c.getId())">CSV</a> | 
						<a href="@routes.DatasetsController.downloadJsonCluster(ds.getId(), c.getId())">JSON</a>
					</p>
					}

					@for(ds <- p.getMediaDatasets()) {
					<p>
						<b>@ds.getName()</b>: 
						<a href="@routes.DatasetsController.downloadCluster(ds.getId(), c.getId())">CSV</a> | 
						<a href="@routes.DatasetsController.downloadJsonCluster(ds.getId(), c.getId())">JSON</a>
					</p>
					}

					@for(ds <- p.getMovementDatasets()) {
					<p>
						<b>@ds.getName()</b>: 
						<a href="@routes.DatasetsController.downloadCluster(ds.getId(), c.getId())">CSV</a> | 
						<a href="@routes.DatasetsController.downloadJsonCluster(ds.getId(), c.getId())">JSON</a>
					</p>
					}

					@for(ds <- p.getExpSamplingDatasets()) {
					<p>
						<b>@ds.getName()</b>: 
						<a href="@routes.DatasetsController.downloadCluster(ds.getId(), c.getId())">CSV</a> | 
						<a href="@routes.DatasetsController.downloadJsonCluster(ds.getId(), c.getId())">JSON</a>
					</p>
					}

					@for(ds <- p.getFitbitDatasets()) {
					<p>
						<b>@ds.getName()</b>: 
						<a href="@routes.DatasetsController.downloadCluster(ds.getId(), c.getId())">CSV</a> | 
						<a href="@routes.DatasetsController.downloadJsonCluster(ds.getId(), c.getId())">JSON</a>
					</p>
					}

					@for(ds <- p.getGoogleFitDatasets()) {
					<p>
						<b>@ds.getName()</b>: 
						<a href="@routes.DatasetsController.downloadCluster(ds.getId(), c.getId())">CSV</a> | 
						<a href="@routes.DatasetsController.downloadJsonCluster(ds.getId(), c.getId())">JSON</a>
					</p>
					}

					<p>
						<a href="@routes.ClustersController.exportMetadata(c.getId())" class="btn">Export all metadata</a>
					</p>
				</details>
			</div>
		</div>

		<div class="col s12 m4 offset-m1 button-col">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6>
						Cluster info
						<a onclick="let newName = prompt('Enter new cluster name:', '@c.getName()'); if(newName) { window.location.href = '@routes.ClustersController.rename(c.getId(), "")' + newName; }" href="#!" style="float: right; position: relative; top: -4px;">
							<i class="btn-edit">@elements.icon("edit")</i>
						</a>
					</h6>
				</li>
				<li class="collection-item"><div>
					<p><b>Name:</b> @c.getName()</p>
					<p><b>ID:</b> @c.getId()</p>
					<p>
						@if(p.canAnnotate()) {
							<a href="@api.routes.AnnotationDSController.recordForm(p.getAnnotationDataset().getId(), c.getRefId())" class="btn green lighten-2 btn-small" style="margin-top: 10px; width: 100%;">
								Add Annotation
							</a>
						}
					</p>
					<p style="margin-top: 20px; text-align: center;">
						<a onclick="return confirm('Are you sure you want to delete this cluster? Click OK to delete, cancel to stop.')" href="@routes.ClustersController.delete(c.getId())" class="red-text">
							Delete Cluster
						</a>
					</p>
				</div></li>
			</ul>
		</div>
	</div>

	<!-- participant / device / wearable lists -->
	<div class="row">
		<div class="col s12 m4">
			<h5>Participants</h5>
			<div class="divider"></div>
			<div>
				@if(!p.getParticipants().isEmpty()) {
				<a href="#modal_add_participant" class="btn-flat green-text modal-trigger">Add participant</a>
				} else {
				<div class="grey-text" style="padding-top: 10px;">no participants in project yet</div>
				}
			</div>
			<div>
			@for(w <- c.getParticipants()){
				@if(w.accepted()){
				<div class="chip tooltipped white-text thing" data-tooltip="ID: @w.getRefId()">
				} else if(w.pending()) {
				<div class="chip tooltipped white-text pending-thing" data-tooltip="ID: @w.getRefId()">
				} else {
				<div class="chip tooltipped white-text declined-thing" data-tooltip="ID: @w.getRefId()">
				}
					<a href="@routes.ParticipantsController.view(w.getId())">
						@w.getName() 
					</a>
					<a onclick="return confirm('Sure about removing this? Click OK to remove, cancel to stop.')" href="@routes.ClustersController.removeParticipant(c.getId(),w.getId())" class="btn_remove_source">
						&times;
					</a>
				</div>
			}
			</div>
		</div>
		
		<div class="col s12 m4">
			<h5>Devices</h5>
			<div class="divider"></div>
			<div>
				@if(!p.getDevices().isEmpty()) {
				<a href="#modal_add_device" class="btn-flat green-text modal-trigger">Add device</a>
				} else {
				<div class="grey-text" style="padding-top: 10px;">no devices in project yet</div>
				}
			</div>
			<div>
			@for(w <- c.getDevices()){
				<div class="chip tooltipped white-text thing" data-tooltip="ID: @w.getRefId()">
					<a href="@routes.DevicesController.view(w.getId())" class="text-white">
						<i class="icons">@elements.icon("developer_board")</i>
						@w.getName()
					</a>
					<a onclick="return confirm('Sure about removing this? Click OK to remove, cancel to stop.')" href="@routes.ClustersController.removeDevice(c.getId(),w.getId())" class="btn_remove_source">
						&times;
					</a>
				</div>
			}
			</div>
		</div>
		
		<div class="col s12 m4">
			<h5>Wearables</h5>
			<div class="divider"></div>
			<div>
				@if(!p.getWearables().isEmpty()) {
				<a href="#modal_add_wearable" class="btn-flat green-text modal-trigger">Add wearable</a>
				} else {
				<div class="grey-text" style="padding-top: 10px;">no wearables in project yet</div>
				}
			</div>
			<div>
			@for(w <- c.getWearables()){
				@if(w.isConnected()){
				<div class="chip tooltipped white-text thing" data-tooltip="ID: @w.getRefId()">
				} else {
				<div class="chip tooltipped white-text pending-thing" data-tooltip="ID: @w.getRefId()">
				}
					<a href="@routes.ProjectsController.wearable(w.getId())">
						<i class="icons">@elements.icon("watch")</i>
						@w.getName()
					</a>
					<a onclick="return confirm('Sure about removing this? Click OK to remove, cancel to stop.')" href="@routes.ClustersController.removeWearable(c.getId(),w.getId())" class="btn_remove_source">
						&times;
					</a>
				</div>
			}
			</div>
		</div>
	</div>

	<!-- csv token links -->
	<div class="row white" style="margin-top: 4rem; padding: 1rem;">
		<div class="col s12">
			<h5>CSV cluster data API links</h5>
			<p class="grey-text">Use these links to programmatically access data for this specific cluster using your dataset tokens.</p>

			<div class="row">
				<div class="col s12" style="padding-top: 1rem;">
					@if(p.getOperationalDatasets().stream().allMatch(ds => ds.configuration(Dataset.PUBLIC_ACCESS_TOKEN, "").isEmpty())) {
					<div class="row">
						<div class="col s12 grey-text">
							<p>No active API token links found for this cluster's datasets.</p>
							<p>To activate them, open a dataset's details and generate a <b>public access token</b> in the "CSV/JSON Download" section:</p>
							<div class="collection" style="border: none;">
								@for(ds <- p.getOperationalDatasets()) {
									<a href="@routes.DatasetsController.view(ds.getId())" class="collection-item" style="padding: 5px 10px; color: #9e9e9e;">
										@ds.getName()
									</a>
								}
							</div>
						</div>
					</div>
					} else {
						<!-- Active Token Links -->
						@for(ds <- p.getOperationalDatasets()) {
							@if(!ds.configuration(Dataset.PUBLIC_ACCESS_TOKEN, "").isEmpty()) {
								<div class="row" style="margin-bottom: 1rem;">
									<div class="col s12">
										Token link for <a href="@routes.DatasetsController.view(ds.getId())">@ds.getName()</a> <span class="typetag @ds.toColorBG()">@ds.toUIString()</span>:
										<blockquote id="csvTokenLink" style="margin: 5px 0;">
										  https://@(request.host()+routes.DatasetsController.downloadPublic(ds.getConfiguration().get(Dataset.PUBLIC_ACCESS_TOKEN), c.getId()))
										</blockquote>
									</div>
								</div>
							}
						}

						<!-- Inactive Datasets (for activation) -->
						@if(p.getOperationalDatasets().stream().anyMatch(ds => ds.configuration(Dataset.PUBLIC_ACCESS_TOKEN, "").isEmpty())) {
						<details style="margin-top: 2rem;">
							<summary class="grey-text" style="cursor: pointer;">Show more datasets to activate API links</summary>
							<div class="collection" style="border: none; margin-top: 10px;">
								@for(ds <- p.getOperationalDatasets()) {
									@if(ds.configuration(Dataset.PUBLIC_ACCESS_TOKEN, "").isEmpty()) {
										<a href="@routes.DatasetsController.view(ds.getId())" class="collection-item" style="padding: 5px 10px; color: #9e9e9e;">
											Activate API link for: @ds.getName()
										</a>
									}
								}
							</div>
						</details>
						}
					}
				</div>

				<div id="code-examples" class="col s12" style="padding-top: 2rem;">
          <p>
            <b>How to use this?</b>
          </p>

          <ul class="collapsible">
            <li class="">
              <div class="collapsible-header">Python</div>
              <div class="collapsible-body">
                <p>
                  Import Python libraries
                </p>

                <p>
                  You might need to install a few libraries to make the Python code work. We need <code>requests</code> for retrieving the data, and <code>pandas</code> and <code>matpotlib</code> for working with the data in Python.
                </p>

<pre class="language-python">
  <code class="language-python">
## import libraries: requests, pandas as pd, matplotlib as plt
# https://pandas.pydata.org/
# https://matplotlib.org/

import requests, pandas as pd, matplotlib as plt
  </code>
</pre>
                <p>
                  Download csv file from the dataset.
                </p>

<pre class="language-python">
  <code class="language-python">
## Replace URL with the TOKEN LINK that you generate above. Replace FILENAME as the name you want.
## Get and save as csv file

# API endpoint
URL = "TOKEN LINK generate above"
FILENAME = "file_name.csv"

# fetch file
r = requests.get(URL, verify=False) 

# save result as a csv in current folder
open(FILENAME, 'wb').write(r.content)
  </code>
</pre>
                <p>
                  Visualize the data from a csv file with a bar chart.
                </p>

<pre class="language-python">
  <code class="language-python">
# read csv file
# if there are too many rows (>50) in the file, use head(rows) to control the rows of data to be read
# ex. for reading first 10 rows, df = pd.read_csv('file_name.csv').head(10)
df = pd.read_csv('file_name.csv')

# draw the bar chart
df.plot(kind='bar')
  </code>
</pre>
                <p>
                  Get some statistics data by a specific column.
                </p>

<pre class="language-python">
  <code class="language-python">
# read data with first 25 rows
df = pd.read_csv('file_name.csv').head(25)

# get column names of the csv file
df.columns

# show the first 5 rows
df.head()

# group the data by the value of 'column_name'
allocation_display = df.groupby('column_name')

# summary statistics for all numeric columns by column_name
allocation_display.describe()
  </code>
</pre>
              </div>
            </li>
          </ul>
        </div>
			</div>
		</div>
	</div>

	<!-- Modal for adding new participant -->
	<div id="modal_add_participant" class="modal">
		<div class="modal-content">
			<div class="row">
				<div class="col s12">
					<p>Please select a participant to add:</p>
					<div class="input-field col s12 m6">
						<select id="participant_id" name="participant_id">
							<option value="" disabled>Choose your option</option>
							@for(c <- p.getParticipants()) {
							<option value="@c.getId()">@c.getName() (@c.getEmail())</option>
							}
						</select>
						<label for="dsType">Choose a participant</label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="btn-flat grey-text modal-close">Cancel</a>
			<a id="addParticipantBtn" href="#!" class="btn modal-close">Add participant</a>
		</div>
		<script type="text/javascript">
			$('#addParticipantBtn').click(function() {
				var pid = $('#participant_id').val();
				var r = jsRoutes.controllers.ClustersController.addParticipant(@c.getId(),pid);
				$.ajax({url: r.url, type: r.type, success: function() {
					location.reload();
				}, error: function() {
					console.log('error')
				}});
			});
		</script>
	</div>

	<!-- Modal for adding new wearable -->
	<div id="modal_add_wearable" class="modal">
		<div class="modal-content">
			<div class="row">
				<div class="col s12">
					<p>Please select a wearable to add:</p>
					<div class="input-field col s12 m6">
						<select id="wearable_id" name="wearable_id">
							<option value="" disabled>Choose your option</option>
							@for(c <- p.getWearables()) {
							<option value="@c.getId()">@c.getName()</option>
							}
						</select>
						<label for="dsType">Choose a wearable</label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="btn-flat grey-text modal-close">Cancel</a>
			<a id="addWearableBtn" href="#!" class="btn modal-close">Add wearable</a>
		</div>
		<script type="text/javascript">
			$('#addWearableBtn').click(function() {
				var pid = $('#wearable_id').val();
				var r = jsRoutes.controllers.ClustersController.addWearable(@c.getId(),pid);
				$.ajax({url: r.url, type: r.type, success: function() {
					location.reload();
				}, error: function() {
					console.log('error')
				}});
			});
		</script>
	</div>

	<!-- Modal for adding new device -->
	<div id="modal_add_device" class="modal">
		<div class="modal-content">
			<div class="row">
				<div class="col s12">
					<p>Please select a device to add:</p>
					<div class="input-field col s12 m6">
						<select id="device_id" name="participant_id">
							<option value="" disabled>Choose your option</option>
							@for(c <- p.getDevices()) {
							<option value="@c.getId()">@c.getName()</option>
							}
						</select>
						<label for="dsType">Choose a device</label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="btn-flat grey-text modal-close">Cancel</a>
			<a id="addDeviceBtn" href="#!" class="btn modal-close">Add device</a>
		</div>
		<script type="text/javascript">
			$('#addDeviceBtn').click(function() {
				var pid = $('#device_id').val();
				var r = jsRoutes.controllers.ClustersController.addDevice(@c.getId(),pid);
				$.ajax({url: r.url, type: r.type, success: function() {
					location.reload();
				}, error: function() {
					console.log('error')
				}});
			});
		</script>
	</div>

}