@(id: Long, data: String)
<script src="@routes.Assets.versioned("javascripts/vega_5.min.js")" type="text/javascript"></script>

<div style="padding: 1rem 0 0;">
	<div class="row" style="margin-left: 1rem;">
		<div class="col s12">
			The data visualization below shows events that were tracked for this participant, e.g., diary entries or media uploads.
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div id="participantplot-@id"></div>
		</div>
		<div class="col s12" style="margin-left: 1rem;">
			Use the lowest visualization to select a timeframe (click, drag horizontally, release) and zoom in or out (use mouse wheel on selected area).
		</div>
	</div>

	<script type="module">
		let data = @Html(data);

		function buildVis() {
			let width = document.querySelector('#participantplot-@id').parentElement.clientWidth - 120;
			let vconcat = [{
		        "width": width,
		        "height": 150,
		        "mark": "tick",
	            "transform": [
	                {"calculate": "isValid(datum.title) || isValid(datum.text) ? 'diary entry' : (isValid(datum.mediatype) ? 'media upload' : 'other')", "as": "series"},
	                {"calculate": "isValid(datum.title) ? datum.title : (isValid(datum.getDescription()) ? datum.getDescription() : '')", "as": "desc"}
	            ],
	            "encoding": {
	              "x": {
	                "field": 'ts',
	                "type": 'temporal',
	                "scale": {"domain": {"param": "brush"}},
	                "axis": {"tickCount":15, "title": null}
	              },
	              "y": {
	                "field": "series",
	                "type": "nominal",
	                "axis": {"title": null}
	              },
	              "color": {
	                "field": "series",
	                "type": "nominal"
	              },
	              "tooltip": {
	                "field": "desc"
	              }
	            }
		    },{
		        "width": width,
		    	"height": 60,
		        "mark": "area",
		        "params": [{
		          "name": "brush",
		          "select": {"type": "interval", "encodings": ["x"]}
		        }],
		        "encoding": {
	              "x": {
	                "field": "ts",
	                "timeUnit": "yearmonthdate",
	                "type": "temporal",
	                "axis": {"tickCount":15, "title": null}
	              },
	              "y": {
	                "aggregate": "count",
	                "axis": {"tickCount": 3, "grid": false, "title": null}
	              },
		          "color": {
		            "value": "lightgrey"
		          }
		        }
		    }];

			var yourVlSpec = {
			    $schema: "https://vega.github.io/schema/vega-lite/v5.json",
			    "description": '',
			    "data": {"values": data},
			    "vconcat": vconcat,
			    "config": {
			    	"legend": {
			    		"disable": true
			    	},
				    "tick": {
				      "thickness": 10,
				      "bandSize": 10
				    }
				}
			};
			var options = {
				"theme": "quartz",
				"actions": {
					"source": false, "editor": false, "compiled": false
				}
			};
			vegaEmbed('#participantplot-@id', yourVlSpec, options);
		}

		buildVis();
	</script>
</div>