@(token: String, token_invite: String, ds : Dataset)

@participating("Voeg nieuwe dagboek item toe", token_invite, "nl") {

    <br><br>
    
    <div class="row">
      <div class="input-field col s12 l8 offset-l2">
        <h3>Voeg nieuwe dagboek item toe</h3>
      </div>
    </div>
    
    <div class="row">
      <form class="col s12 l8 offset-l2" action="@routes.ParticipationController.recordDiary(ds.getId(),token_invite)" method="POST">
        <input name="test_form" value="true" type="hidden">
        <div class="row">
          <div class="input-field col s12">
            <input id="title" name="title" type="text" class="">
            <label for="title">Titel</label>
          </div>
        </div>        
        <div class="row">
          <div class="input-field col s12">
            <textarea placeholder="Tekst van item" id="text" name="text" type="text" class="materialize-textarea validate" required="" style="height: 10em;">@ds.getConfiguration().get("diary_template_text")</textarea>
            <label for="text">Tekst van item</label>
          </div>
        </div>
        <div class="row">
          Je kunt ervoor kiezen om een datum en tijd in te voeren voor het item, of het leeg laten voor "nu":
          <div class="input-field col s12 m6">
            <input id="ts-date" name="ts-date" type="text" class="datepicker">
            <label for="ts-date">Datum</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="ts-time" name="ts-time" type="text" class="timepicker">
            <label for="ts-time">Tijd</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <input name="csrfToken" value="@token" type="hidden">
              <button class="btn" type="submit">Item opnemen</button>
              <a href="@routes.ParticipationController.view("")" class="btn-flat grey-text">Annuleren</a>
            </div>
          </div>
        </div>
      </form>
    </div>
}
