@(invite_token: String, csrfToken: String, telegramBotName : String, telegramToken: String, participant: sr.Participant, project: Project, diaryDS: Dataset, mediaFiles: List[vm.TimedAnnotatedMedia], devices : List[sr.Device], wearables : List[sr.Wearable])

@participantStudyDataset = @{project.getParticipantStudyDataset()}
@participantDashboardDataset = @{project.getParticipantDashboardDataset()}
@mediaDataset = @{project.getMediaDataset()}

@participating(project.getName(), invite_token, "nl") {

    <style type="text/css">
        
        div > iframe {
            display: none;
        }
        div.active > iframe {
            display: block;
        }

    </style>

    <br>

    <div class="row">
        <div class="col s12 l6" style="font-size: 1.3em;">
            <p>
                Hallo @participant.getFirstname(),
            </p>
            <p>
                We zijn blij dat je ons helpt met dit onderzoek. Hieronder vind je enkele acties aan de rechterkant en meer informatie.
            </p>
            <p>
                Je hebt ingestemd met een toestemmingsformulier om hier te komen. Je kunt het toestemmingsformulier bekijken, je informatie bijwerken en je ook afmelden voor dit onderzoek in het tabblad "instellingen". Als je afbeeldingen of foto's hebt geüpload, vind je deze hieronder, evenals annotaties en dagboeknotities.
            </p>
            <p>
                Bedankt,
                <br>
                @project.getOwner().getName()
            </p>
        </div>

        <div class="col s12 l5 offset-l1">
            
			<h4>Acties</h4>
            @if(participantStudyDataset.getId() == -1 
                && (diaryDS == null || diaryDS.getId() == -1) 
                && (!mediaDataset.canAppend() || !mediaDataset.isOpenParticipation()) 
                && (telegramBotName.isEmpty || telegramToken.isEmpty)) {
            <p>
                Er zijn momenteel geen acties beschikbaar. Kom later nog eens terug of neem contact op met het onderzoeksteam voor meer informatie.
            </p>
            }

        	@if(participantStudyDataset.getId() > -1) {
            <div class="row">
                <div class="col s12">
                    <p>
                        Het onderzoek begint op een aparte pagina:
                    </p>
                    <p>
                        <a href="@controllers.routes.DatasetsController.webToken(participantStudyDataset.configuration(Dataset.WEB_ACCESS_TOKEN, ""),"")"
                            class="btn" 
                            target="_blank" rel="noopener">
                            Open de studiepagina
                        </a>
                    </p>
                </div>
            </div>
            }

            @if(diaryDS != null && diaryDS.getId() > -1){
            <div class="row">
                <div class="col s12">
                    <p>
                        Deze studie berust op regelmatige zelfrapportage. Plaats een dagboekbericht:
                    </p>
                    <p>
                        <a href="@routes.ParticipationController.recordForm(diaryDS.getId(),invite_token)" class="btn">Dagboekbericht plaatsen</a>
                    </p>
                </div>
            </div>
            }

            @if(mediaDataset.canAppend() && mediaDataset.isOpenParticipation()) {
            <div class="row">
                <div class="col s12">
                    <p>
                        Deze studie berust op regelmatige zelfrapportage met foto's en afbeeldingen:
                    </p>
                    <p>
                        <a href="#modal_add_file" class="modal-trigger btn">Foto of afbeelding uploaden</a>
                    </p>
                </div>
            </div>
            }

            @if(!telegramBotName.isEmpty 
                    && !telegramToken.isEmpty 
                    && ((diaryDS != null && diaryDS.getId() > -1) || mediaDataset.isOpenParticipation())){
            <hr>
            <div class="row">
                <div class="col s12">
                    <p>
                        Gebruik Telegram om zelfrapportage te doen in dit onderzoek. Download de Telegram-app op je mobiele apparaat of computer en start het. Zoek naar de Telegram-bot van Data Foundry "@telegramBotName" en begin een gesprek. De bot zal je vragen om je deelnemers e-mailadres en een PIN-code in te voeren.
                    </p>
                    <p>
                        Je tijdelijke Telegram PIN is: <span style="font-size: 2.5em; font-family: monospace;">@telegramToken</span>
                    </p>
                    <p>
                        <small>
                            Merk op dat alle informatie die je deelt via de desktop- of mobiele Telegram-applicatie ook verwerkt zal worden door <a href="https://telegram.org/privacy" target="_blank" rel="noopener">Telegram Messenger Inc.</a>
                        </small>
                    </p>
                </div>
            </div>         
            }

        </div>
    </div>


    <div class="row white" style="min-height: 30em;">
        <div class="col s12">
            <ul class="tabs">
            @if(participantDashboardDataset.getId() > -1) {
            <li class="tab"><a href="#participantDashboardPage">Dashboard</a></li>
            }
            @if(mediaFiles.size() > 0){
            <li class="tab"><a href="#media">Media</a></li>
            }
            <li class="tab"><a href="#settings">Instellingen</a></li>
            <li class="tab"><a href="#informedconsent">Informed consent</a></li>
            </ul>
        </div>

        @if(mediaFiles.size() > 0){
        <div id="media" class="col s12">
            <div class="row">
                @for(mf <- mediaFiles){
                <div class="col s12 m6">
                	<div class="card white">
                        <div class="card-content grey-text">
                            @if(mf.link != null && mf.link.length() > 0) {
                            <div style="max-height: 12em; overflow: hidden;">
		                	    <img src="@mf.link" style="max-width: 100%;">
                            </div>
                        	}
		                	<p>@mf.caption</p>
		                	@if(diaryDS.getId() > -1) {
		                	@for(an <- mf.annotations) {
		                	<p>@Html(an)</p>
		                	}
		                	}
                        </div>
                        <div class="card-action">
                            <div class="grey-text left-align" style="float: left">
                                @mf.date()
                            </div>
                            @if(diaryDS.getId() > -1) {
                            <a class="modal-trigger" onclick="annotate('@mf.date()','@mf.time()')" href="#modal1" style="float: right; margin-right: 0;"><i class="grey-text">@elements.icon("chat")</i></a>
                            }
                        </div>
	                </div>
                </div>
            	}
        	</div>
		</div>
        }
        @if(participantDashboardDataset.getId() > -1) {
        <div id="participantDashboardPage" class="col s12">
            <iframe src="@controllers.routes.DatasetsController.web(participantDashboardDataset.getId(),"")" style="width: 100%; height: 80vh; border: 0; margin-top: 1em;"></iframe>
        </div>
        }
        <div id="settings" class="col s12">

            <div class="row">
                <div class="col s12 m6">
                    <h5>
                        Informatie over deelnemer
                    </h5>
                    <p>
                        Als u uw informatie wilt wijzigen, klik dan hier:
                        <br><br>
                        <a href="@routes.ParticipationController.edit(invite_token)" class="btn white green-text">Deelnemersinformatie bewerken</a>
                    </p>

                    <p>
                        Als u zich wilt afmelden voor deze studie, klik dan hier:
                        <br><br>
                        <a href="@routes.ParticipationController.decline(invite_token)" onclick="return confirm('Weet u zeker dat u zich wilt afmelden voor deze studie? Klik op OK om te stoppen, annuleren om terug te gaan.')" class="btn white red-text">Afmelden voor de studie</a>
                    </p>
                </div>

                <div class="col s12 m6" id="participant_profile">
                    @if(wearables.size() > 0){
                        <h5>
                            Draagbare apparaten
                        </h5>
                        <p>
                            Draagbare apparaten zijn activiteitstrackers en andere middelen om activiteits-, slaap- of bewegingsgegevens te verzamelen.
                            Groene draagbare apparaten zijn verbonden en operationeel, gele gemarkeerde draagbare apparaten moeten nog worden verbonden.
                            Raadpleeg de studie-instructies om te bepalen of u één of meer draagbare apparaten moet verbinden.
                        </p>

                        @for(w <- wearables){
                        @if(w.isConnected()){
                        <div class="chip tooltipped white-text thing" data-tooltip="ID: @w.getRefId()">
                            <i class="icons">@elements.icon("watch")</i>
                            @w.getName()
                        </div>
                        } else {
                        <div class="chip tooltipped white-text pending-thing" data-tooltip="klik hier om dit draagbare apparaat te verbinden">
                            <a href="@routes.ParticipationController.signupWearable(w.getId())">
                                <i class="icons">@elements.icon("watch")</i>
                                @w.getName()
                            </a>
                        </div>
                        }
                        }
                    }
                </div>
            </div>
        </div>

        <div id="informedconsent" class="col s12">
            @elements.project.informedConsent(project, "nl")
        </div>
    </div>  

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <form action="@routes.ParticipationController.recordDiary(diaryDS.getId(),invite_token)" method="POST">
        <div class="modal-content">
            <h4>Voeg media-annotatie toe</h4>
                <div class="row center">
                  <div class="input-field col s12">
                    <textarea placeholder="Invoertekst" id="text" name="text" type="text" class="materialize-textarea validate" required="" style="height: 10em;">@diaryDS.getConfiguration().get("diary_template_text")</textarea>
                    <label for="text">Annotatietekst</label>
                  </div>
                </div>
                <input type="hidden" name="ts-date" id="ts-date">
                <input type="hidden" name="ts-time" id="ts-time">
                <input type="hidden" name="csrfToken" value="@csrfToken">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn-flat modal-action modal-close">Annuleren</a>
            <button type="submit" id="btnSave" class="btn modal-action modal-close">Opslaan</button>
        </div>
        </form>
    </div>

    <script type="text/javascript">
        function annotate(date, time) {
            $('#ts-date').val(date);
            $('#ts-time').val(time);
        }
    </script>


    <!-- files upload modal and JS -->

    @if(mediaDataset.canAppend() && mediaDataset.isOpenParticipation()) {
    <div id="modal_add_file" class="modal">
        <div class="modal-content">
          <h4 class="center-align">Upload bestand(en)</h4>
          <div class="row">
            <div class="col s12 m6 l8">
              <form action="@routes.ParticipationController.uploadFile(mediaDataset.getId(),invite_token)" method="POST" enctype="multipart/form-data">
                <div class="input-field file-field">
                  <div class="btn">
                    <span>Bestand</span>
                    <input id="files" type="file" name="files" multiple required="" />
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload één of meer bestanden" />
                  </div>
                </div>
                <div id="result" class="col s12">
                </div>
                <div class="input-field col s12">
                  <textarea placeholder="Bestandsbeschrijving" id="description" class="materialize-textarea" name="description" data-length="250"></textarea>
                  <label for="description">Bestandsbeschrijving</label>
                </div>
                <p>
                  <a href="#!" onclick="$('#result').empty();$('form')[1].reset();" class="modal-close btn-flat grey-text">Annuleren</a>
                  <input type="hidden" name="participant_id" value="@participant.getId()">
                  <input type="hidden" name="csrfToken" value="@csrfToken" />
                  <input type="submit" name="submit" id="submit" class="btn green">
                </p>
              </form>
            </div>
            <div class="col s12 m6 l3 offset-l1 card red lighten-4" style="padding: 1em;">
              <b>Let op</b>
              <br>
              <p>
                Upload geen bestanden die persoonlijke gegevens bevatten (persoonlijke informatie, medische gegevens, financiële gegevens en wachtwoorden, onder andere gevoelige gegevens).
                <br><br>
                Upload en deel hier alleen gegevens als je daartoe het recht hebt. Bij twijfel kunt u contact opnemen met de ondersteuning.
              </p>
            </div>
          </div>
        </div>
    </div>
    }

}
