@(organization: String)(implicit request: Http.Request)
@external("") {
	<style type="text/css">
		body>.container {
			min-height: 6rem;
		}
		.card .card-image {
			height: 150px;
			overflow: hidden;
		}
		.card .card-image .card-title {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0), white);
			color: black;
			font-weight: 900;
			width: 100%;
			padding: 12px 12px 24px;
		}
		.container h4 {
			text-transform: none;
		}
		.container ul {
			padding-left: 22px;
		}
		.container ul li {
			list-style-type: disc;
		}
		.card .card-image {
			border-radius: 16px 16px 0 0;
		}
	</style>
	
	<br><br>
	@elements.announcement()
	<br><br>
	<br><br>
	
	<div class="row">
		<div class="col s12">
			<img src="@routes.Assets.versioned("images/logo.png")" style="height: 48px;">
			<br>
			<span style="font-size: 3rem; font-weight: 900; color: black;">Data Collection and Prototyping <span style="color: white; background: black; padding: 0.5rem; white-space: nowrap;">for Designers</span></span>
		</div>
	</div>
</div>

<div style="background: white; padding: 3rem 0; margin: 6rem 0;">
	<div class="container">
		<div class="row">
			<div class="col s12 flow-text">
				Hey there, welcome!
			</div>
			
			<div class="col s12 l6" style="padding: 2rem inherit;">
				<p style="font-size: 1.1rem; line-height: 1.6; color: #555; margin: 0;">
					Data Foundry is an open-source data collection and prototyping platform made for design education and research. 
					Visit our general information site at <a href="https://data-foundry.net/?utm_source=@request.host()&utm_medium=instance" rel="noopener noreferrer">data-foundry.net</a> for more information, hosting guides, and tutorials.
				</p>
				<br>
				@if(!organization.isEmpty()){
 				<p style="font-size: 1.1rem; line-height: 1.6; color: #555; margin: 0;">
					This is Data Foundry instance is associated to @organization.
				</p>
				<br>
				}
				<a class="btn" href="@routes.HomeController.login()">Log into Data Foundry</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col s12 l4">
			<div class="card">
				<div class="card-image">
					<img class="responsive-img" src="@routes.Assets.versioned("images/landing/data-collection2.jpeg")">
					<span class="card-title"></span>
				</div>
				<div class="card-content">
					<h4>Data Collection</h4>
					<ul>
						<li>
							Collect data from your prototypes, wearables or the people your design for.
						</li>
						<li>
							Store data in a structure format that is easy to work with and analyse.
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col s12 l4">
			<div class="card">
				<div class="card-image">
					<img class="responsive-img" src="@routes.Assets.versioned("images/landing/prototyping1.jpeg")">
					<span class="card-title"></span>
				</div>
				<div class="card-content">
					<h4>Data Prototyping</h4>
					<ul>
						<li>
							Use Data Foundry APIs to design and prototype connected application.
						</li>
						<li>
							Access machine-learning models and speech APIs with scripting.
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col s12 l4">
			<div class="card">
				<div class="card-image">
					<img class="responsive-img" src="@routes.Assets.versioned("images/landing/design-research1.jpeg")">
					<span class="card-title"></span>
				</div>
				<div class="card-content">
					<h4>Design Research</h4>
					<ul>
						<li>
							Annotate data, prompt participants, collect rich quantitative and qualitative data.
						</li>
						<li>
							Use data-enabled methods, narrative surveys and object-ethnography.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
}