@()
@main("Data Foundry", "support") {
	<!-- navigation -->
	<nav class="">
		<div class="row">
			<div class="col s12">
				<a id="homeBtn" href="@routes.ProjectsController.index()" class="breadcrumb">Home</a>
				<a href="#" class="breadcrumb">Licenses</a>
			</div>
		</div>
	</nav>

	<div class="row">
		<div class="col s12">
 			<p class="flow-text">
				As a project owner you can license your projects and datasets in the Data Foundry with several applicable open-source licenses. This will help you share your work and limit liability or ask for attribution.
				Licenses are important for others looking at your data, so they know under which conditions they are allowed to use the data in their own (derivative) work.
				<br><br>
				
				At this point, we support the MIT and CreativeCommons licenses. Please find more information below:
				<ul>
					<li><a href="https://opensource.org/licenses/MIT">MIT license</a></li>
					<li><a href="https://creativecommons.org/share-your-work/licensing-types-examples/">CreativeCommons</a></li>
					<li>
						<ul>
							<li><a href="https://creativecommons.org/licenses/by/4.0/">Attribution (CC BY) license</a></li>
							<li><a href="https://creativecommons.org/licenses/by-sa/4.0/">Attribution ShareAlike (CC BY-SA) license</a></li>
							<li><a href="https://creativecommons.org/licenses/by-nd/4.0/">Attribution-NoDerivs (CC BY-ND) license</a></li>
							<li><a href="https://creativecommons.org/licenses/by-nc/4.0/">Attribution-NonCommercial (CC BY-NC) license</a></li>
							<li><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike (CC BY-NC-SA) license</a></li>
							<li><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Attribution-NonCommercial-NoDerivs (CC BY-NC-ND) license</a></li>
						</ul>
					</li>
				</ul>
			</p>
		</div>
	</div>

}