@()
(() => {

	// Describe the title of your tour
	const tourTitle = "Tutorial 2: Hosting"

	// Define your tour steps:
	//   element: specifies the element to highlight, use CSS selector syntax (as used by document.querySelector)
	//   intro: this is the text to show in the popup
	//   page: this is a regular expression for the page to show this step on
	const tourSteps = [

		// Intro + Project Creation
		{ intro: 'Hi welcome to the Data Foundry hosting tutorial, In this tutorial we will show you how you can easily deploy and host your prototypes and websites to Data Foundry!', page: '^/projects$' },
	    { element: '#addProjectBtn', intro: 'We first have to create a new project!', page: '^/projects$' },
	    { element: '#project_name', intro: 'Fill in a name for your new project something like "Website Tutorial" will do', page: '^/projects/add' },
	    { element: '#project_introduction', intro: 'For the description you can put: "Data Foundry website".', page: '^/projects/add' },
		{ element: '#dataProtectionSection', intro: 'And please read and agree to the following terms on data anonymization.', page: '^/projects/add' },
	    { element: '#submitBtn', intro: 'Cool, you\'ve made your web hosting project. Let\'s continue with a dataset!', page: '^/projects/add' },

        // ADD Existing Dataset Steps
		{ element: '#addDatasetBtn', intro: 'Now lets create a dataset for our website', page: '^/projects/\\d+$' },
		{ element: '#addDSBtn_Complete', intro: 'To host a simple prototype, we will need to upload our files to an Existing Dataset.', page: '^/projects/\\d+/addDataset' },
		{ element: '#dataset_name', intro: 'Let\'s call this dataset "Hosting"', page: '^/datasets/existing/add/\\d+$' },
		{ element: '#description', intro: 'and in the description put "A simple website hosted with Data Foundry"', page: '^/datasets/existing/add/\\d+$' },
		{ element: '#submitBtn', intro: 'after which the dataset is ready to go!', page: '^/datasets/existing/add/\\d+$' },

		// Upload file to Existing Dataset
		{ intro: 'This is an Existing Dataset, in the existing dataset you can upload your already existing files, datsets or webpages. Additionally the Existing Dataset allows you to make these files accessible over the web.', page: '^/datasets/\\d+$' },
		{ element: '#uploadFileBtn', intro: 'To upload your own file to the Existing Dataset, you press this upload files button.', page: '^/datasets/\\d+$' },
		{ element: '#files', intro: 'Here you can select what files you want to upload, please select the tutorial file we have just downloaded.', page: '^/datasets/\\d+$' },
		{ element: '#description', intro: 'All uploaded files need a description, lets put in "Data Foundry Tutorial Website".', page: '^/datasets/\\d+$' },
		{ element: '#submit', intro: 'Once you have selected what files you want to upload and written a description we can upload the files by pressing the submit button.', page: '^/datasets/\\d+$' },

		// Make files accessible
		{ intro: 'Now we have uploaded our simple webpage to Data Foundry, we will have to make it publically accessible over the internet, to do so we will enable web access', page: '^/datasets/\\d+$' },
		{ element: '#web_outTab', intro: 'You can find the web access settings down here', page: '^/datasets/\\d+$' },
		{ element: '#entrypointSelection', intro: 'Before we enable web access we need to select our main entrypoint, this will be the first file shown when opening the link.', page: '^/datasets/\\d+$' },
		{ element: '#activateWebAccessBtn', intro: 'After an entrypoint is selected, you can activate web access.', page: '^/datasets/\\d+$' },
		{ intro: 'Warning: Activating Web Access means that all data in this dataset will be publically accessible to the internet, please dont store any personal data in this dataset.', page: '^/datasets/\\d+$' },
		{ element: '#webAccessLink', intro: 'Your tutorial website should now be accessible through the following link!', page: '^/datasets/\\d+$' },
	];

	const currentPage = window.location.pathname;
	let currentStep = parseInt(localStorage.getItem('mss_current') || 0);

	const pageSteps = tourSteps.map((step, index) => {
	    step.index = index;

	    // Add navigation properties
	    const nextStep = tourSteps[index + 1];
	    const prevStep = tourSteps[index - 1];

		// Check if neighbouring steps are on the same page
	    step.hasNextOnSamePage = nextStep && currentPage.match(nextStep.page);
	    step.hasPrevOnSamePage = prevStep && currentPage.match(prevStep.page);
	    step.isLastInTour = index === tourSteps.length - 1;

	    return step;
	}).filter(step => currentStep <= step.index && currentPage.match(step.page));

	if(pageSteps.length == 0 && currentStep > 0) {
	    localStorage.removeItem('mss_current');
	    location.reload();
	}
	// Initialize Driver.js
	const d = driver.js.driver();

	d.setConfig({
		allowClose: false,
		onDestroyed: () => {
			fetch('@routes.HomeController.stopTour()')
		},
		onHighlighted: (elem, step) => {
			localStorage.setItem('mss_current', step.index)
			document.querySelector(".driver-popover-close-btn").blur()
		},
		onCloseClick: () => {
			localStorage.removeItem('mss_current')
			d.destroy()
		}
	})
	d.setSteps(pageSteps.map(step => {
	    let buttons = ["close"];

		// Based on neighbouring step flags, display relevant buttons
	    if (step.hasPrevOnSamePage) {
	        buttons.push("previous");
	    }

	    if (step.hasNextOnSamePage) {
	        buttons.push("next");
	    } else if (step.isLastInTour) {
	        buttons.push("finish");
	    }

	    return {
	        element: step.element,
	        index: step.index,
	        popover: {
	            title: tourTitle,
	            description: step.intro,
	            showButtons: buttons
	        }
	    };
	}));

	// function to update driverjs overlays when elements change
	const observeRefresh = new ResizeObserver(() => {
		d.refresh(); // repositions and resizes highlight
	});

	<!--const webAccessButton = document.getElementById('activateWebAccessBtn');-->

	<!--// Continue tour on web link generation-->
	<!--if (webAccessButton) {-->
	<!--	webAccessButton.addEventListener('click', () => {-->
	<!--		d.moveNext(); // called when user changes input value-->
	<!--	});-->
	<!--}-->

	d.drive();
})();