@(token : String, user : Person, isActive : Boolean, updates : Integer, lastUpdateDate : String)
@main("Edit user", "user") {
  <script src="@routes.DatasetsController.jsRoutes()" type="text/javascript"></script>

<!-- navigation -->
<nav class="">
  <div class="row">
    <div class="col s8">
      <a href="@routes.ProjectsController.index()" class="breadcrumb">Home</a>
      <a href="#" class="breadcrumb">Edit profile</a>
    </div>
  </div>    
</nav>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" target="_self" href="@routes.UsersController.edit()">Profile</a></li>
      <li class="tab col s3"><a target="_self" href="@routes.UsersController.apiAccess()">API Access</a></li>
    </ul>
  </div>
</div>

<div id="edit">
<div class="row">
  <div class="col s8">
    <h2>Edit profile</h2>
  </div>
</div>

<div class="row">
  <form class="col s12" action="@routes.UsersController.editMe()" method="POST">

    <div class="row">
      <div class="input-field col s12 m7">
        <input id="first_name" value="@user.getFirstname()" name="first_name" type="text" class="validate" required="">
        <label for="first_name">First Name</label>
      </div>
      <div class="col s12 m5 green-text text-lighten-2" style="font-size: 0.8em">
        You can edit your first name here.
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m7">
        <input id="last_name" value="@user.getLastname()" name="last_name" type="text" class="validate" required="">
        <label for="last_name">Last Name</label>
      </div>
      <div class="col s12 m5 green-text text-lighten-2" style="font-size: 0.8em">
        You can edit your last name here.
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m7">
        <input id="user_website" value="@user.getWebsite()" name="user_website" value="http://" type="text" class="validate">
        <label for="user_website">Website</label>
      </div>
      <div class="col s12 m5 green-text text-lighten-2" style="font-size: 0.8em">
        If you have a personal website, please enter here. Remember to enter a COMPLETE url which starts with https or http.
      </div>
    </div>

    <input type="hidden" name="csrfToken" id="csrfToken" value="@token"/>
    
    <div class="row">
      <div class="col s12">
        <div class="input-field center">
          <a id="cancelBtn" href="@routes.ProjectsController.index()" class="btn-flat cancelBtn">Cancel</a>
          <button class="btn" type="submit">save</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col s12">
    <h5>User onboarding</h5>
    <p>
      You can enable or disable onboarding messages here.
    </p>
  </div>
  <div class="col s12 m7">
    <div class="switch" id="switch_main">
      <label>
        Off
        <input type="checkbox" name="switch_main">
        <span class="lever"></span>
        On
      </label>
    </div>
  </div>
  <div class="col s12 m5 green-text text-lighten-2" style="font-size: 0.8em">
    Switch for on-boarding support
  </div>
  <script type="text/javascript">

    $("span.lever").click(function () {          
      if($(this).hasClass("selected")){
        $(this).removeClass("selected");
        setState("main", "never");
      } else{
        $(this).addClass("selected");
        setState("main", "active");
      }
    });  

    function setState(target, state) {
      var r = jsRoutes.controllers.UsersController.setState();
      $.ajax({
        url: r.url,
        data: {
          'catalog': target,
          'state': state
        },
        type: r.type,
        success: function(result) {
          console.log(result);
          if(state == "finish") {
            location.reload();
          }
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
    
    $(function() {
      main_is_active = @isActive;
      if (main_is_active == true) {
        $("span.lever").click();
      }
    });
  </script>
</div>
</div>
}
