@(device : sr.Device, datasets: List[Dataset])

@main("Device " + device.getName()) {

<style type="text/css">
    td, th {
        padding: 0;
    }
</style>

<!-- navigation -->
<nav class="">
    <div class="row">
        <div class="col s12">
            <a id="homeBtn" href="@routes.ProjectsController.index()" class="breadcrumb">Home</a>
            <a href="@routes.ProjectsController.view(device.getProject().getId())" class="breadcrumb">@device.getProject().getName()</a>
            <a href="@routes.ProjectsController.viewResources(device.getProject().getId())" class="breadcrumb">Sources</a>
            <a href="#" class="breadcrumb">@device.getName()</a>
      </div>
    </div>
</nav>

<!-- device data -->
<div class="row">
    <div class="col s12">
        <h3>Device @device.getName()</h3>
    </div>
  
    <div class="col s12 m7">
        <h4>Device data</h4>
        <p>Explore this device's data within the context of the entire project.</p>
        <a href="@routes.ProjectsController.visualize(device.getProject().getId(), -1L, -1L, device.getId(), -1L)" class="btn">
            Visualize device data
        </a>
        
        <div style="margin-top: 2rem;">
            <details open>
                <summary>Data downloads for device</summary>
                @for(ds <- datasets) {
                <p>
                    <b>@ds.getName()</b>: 
                    <a href="@routes.ResourcesController.deviceData(device.getProject().getId(), ds.getId(), device.getId())" download="@{ds.getName()}.csv">CSV</a> | 
                    <a href="@routes.DatasetsController.downloadJsonDevice(ds.getId(), device.getId())" download="@{ds.getName()}.json">JSON</a>
                </p>
                }
            </details>
        </div>
    </div>

    <div class="col s12 m4 offset-m1">
        <ul class="collection with-header">
            <li class="collection-header">
                <h6>
                    Device info
                    <a id="editBtn" href="@routes.DevicesController.edit(device.getId())" style="float: right; position: relative; top: -4px;">
                        <i class="btn-edit">@elements.icon("edit")</i>
                    </a>
                </h6>
            </li>
            <li class="collection-item"><div>
                @metadata("Reference ID", device.getRefId())
                @metadata("Type", device.getCategory())
                @metadata("Subtype", device.getSubtype())
                @metadata("Location", device.getLocation())
                @if(device.getClusters().size != 0) {
                    <p><b>In Clusters:</b>
                    @for(cl <- device.getClusters()) {
                        <a href="@routes.ClustersController.view(cl.getId())">@cl.getName()</a>@if(device.getClusters().indexOf(cl) < device.getClusters().size - 1){, }
                    }
                    </p>
                }
                @metadata("Public Parameter 1", device.getPublicParameter1())
                @metadata("Public Parameter 2", device.getPublicParameter2())
                @metadata("Public Parameter 3", device.getPublicParameter3())
            </div></li>
        </ul>
    </div>
</div>
}

@metadata(key : String, data : String) = {
	@if(data != null && data.length() > 0) {
	<p>
		<b>@key:</b> 
		@if(data.startsWith("http")) { <a href="@data" target="_blank" rel="noopener">@data</a> } else { @data }
	</p>
	}
}

@formatString(str: String) = {
    @if(str == null || str.isEmpty) { - } else { @str }
}