@(p : Project, token : String)
@main("Add script", "profile") {

<!-- navigation -->
<nav class="">
  <div class="row">
    <div class="col s12">
      <a id="homeBtn" href="@routes.ProjectsController.index()" class="breadcrumb">Home</a>
      <a href="@routes.ProjectsController.view(p.getId())" class="breadcrumb">@p.getName()</a>
      <a href="#" class="breadcrumb">New script</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col s12">
    <h2>New script</h2>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4>Add a script</h4>
    <p>
      <b>Scripts</b> are snippets of JavaScript that is running on the Data Foundry server to process incoming data, react to OOCSI events, run scheduled programs, or even use local AI functionality in Data Foundry.
    </p>
  </div>
</div>

<form action="@controllers.tools.routes.ActorController.add(p.getId())" method="POST">
  <input type="hidden" name="csrfToken" value="@token"/>
  <div class="row">
      <div class="input-field col s12">
        <input id="sname" name="name" type="text" class="" required="">
        <label for="sname">Script name</label>
      </div>
      <div class="col s12">
        <a href="@controllers.routes.ProjectsController.view(p.getId())" class="btn-flat">Cancel</a>
        <button type="submit" name="submit" class="btn">Create script</button>
    </div>
  </div>
</form>

<div class="row" style="margin-top: 4rem; border-top: lightgrey dotted 1px; padding-top: 4rem;">
  <div class="col s12">
    <h4><i style="background: black;color: white;padding: 0.2rem 0.5rem;border-radius: 5px;">BETA</i> Add a chatbot</h4>
    <p>
      <b>Chatbots</b> in Data Foundry, you could call them also "Custom Local GPT", use local AI functionality and give you access to system prompt and model settings, so you can create a chatbot for a specific use-case, e.g., translation, summarization, extraction or even (limited) ideation.
    </p>
  </div>
</div>

<form action="@controllers.tools.routes.ChatbotController.add(p.getId())" method="POST">
  <input type="hidden" name="csrfToken" value="@token"/>
  <div class="row">
      <div class="input-field col s12">
        <input id="cname" name="name" type="text" class="" required="">
        <label for="cname">Chatbot name</label>
      </div>
      <div class="col s12">
        <a href="@controllers.routes.ProjectsController.view(p.getId())" class="btn-flat">Cancel</a>
        <button type="submit" name="submit" class="btn">Create chatbot</button>
    </div>
  </div>
</form>


}