@(p : Project, user: Person, token : String, viewLink : String, configurator: utils.conf.Configurator)
@main(p.getName() + ": Manage resources", "profile") {
	<!-- navigation -->
	<nav class="">
		<div class="row">
			<div class="col s12">
				<a id="homeBtn" href="@routes.ProjectsController.index()" class="breadcrumb">Home</a>
				<a href="@routes.ProjectsController.view(p.getId())" class="breadcrumb">@p.getName()</a>
				<a href="#" class="breadcrumb">Manage clusters</a>
			</div>
		</div>
	</nav>

	<!-- project sources -->
	<div class="row">
		<div class="col s12">
			<h3>Manage source clusters</h3>
		</div>
	</div>

	<div class="row">

		<!-- cluster list -->
		<div class="col s12 l8">
			What are clusters? Sometimes you would like to combine different project sources to look at their data in a focused way, or you would like to download filtered data just for these devices. Then a cluster is a good idea.
		</div>
		<div class="col s12 l4">
			<a href="#modal_add_cluster" class="btn modal-trigger right">Add cluster</a>
		</div>
		<div class="col s12">
			<div class="row">
				<br>
				@for(c <- p.getClusters()) {
				<cluster class="col s12 m6 xl4">
					<div class="card white" style="height: 10rem;">
						<div class="card-content grey-text">
							<span class="card-title" class="black-text">
								@if(!c.hasDeclinedParticipant()){
								<a href="@routes.ClustersController.view(c.getId())" class="black-text">
									@c.getName()
								</a>
								} else {
								<strike>
									<a href="@routes.ClustersController.view(c.getId())" class="black-text">
										@c.getName()
									</a>
								</strike>
								}
								@if(p.canAnnotate()) {
								<a href="@api.routes.AnnotationDSController.recordForm(p.getAnnotationDataset().getId(), c.getRefId())" style="float: right">
									<i class="grey-text">@elements.icon("chat")</i>
								</a>
								}
							</span>
							
							<div>
								@for(w <- c.getParticipants()){
								<a href="@routes.ParticipantsController.view(w.getId())">
									@if(w.accepted()){
									<div class="chip tooltipped white-text thing" data-tooltip="ID: @w.getRefId()">
									} else if(w.pending()){
									<div class="chip tooltipped white-text pending-thing" data-tooltip="ID: @w.getRefId()">
									}  else {
									<div class="chip tooltipped white-text declined-thing" data-tooltip="ID: @w.getRefId()">
									}
										@w.getName()
									</div>
								</a>
									@if(c.hasDeclinedParticipant()){
									DECLINED
									}
								}
								@if(!c.hasDeclinedParticipant()){
									@for(w <- c.getWearables()){
									<a href="@routes.ProjectsController.wearable(w.getId())">
									@if(w.isConnected()){
										<div class="chip tooltipped white-text thing" data-tooltip="ID: @w.getRefId()">
											<i class="icons">@elements.icon("watch")</i>
											@w.getName()
										</div>
									} else {
										<div class="chip tooltipped white-text pending-thing" data-tooltip="ID: @w.getRefId()">
											<i class="icons">@elements.icon("watch")</i>
											@w.getName()
										</div>
									}
									</a>
									}
									@for(w <- c.getDevices()){
									<a href="@routes.DevicesController.view(w.getId())">
										<div class="chip tooltipped white-text thing" data-tooltip="ID: @w.getRefId()">
											<i class="icons">@elements.icon("developer_board")</i>
											@w.getName()
										</div>
									</a>
									}
								}
							</div>
						</div>								
					</div>
				</cluster>
				}
			</div>
		</div>
	</div>

	@if(token != ""){
	@elements.dialog.addClusterDialog(p.getId())
	}
}