@(contents: String, url: String, urlHTML: String, csrfToken: String)
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Loading the Twine editor...</title>
</head>
<body>

	Loading the Twine editor...

	<script type="text/javascript">
		(function(){
			window.localStorage.clear();
			window.localStorage.setItem("twee-import", `@Html(contents)`);
			window.localStorage.setItem("twee-csrfToken", `@csrfToken`);
			window.localStorage.setItem("twee-postUrl", `@url`);
			window.localStorage.setItem("twee-postUrlHTML", `@urlHTML`);
			window.location.href = "/assets/vendor/twine/index.html";
		})();
	</script>

</body>
</html>
